@charset "utf-8";

.login-container {
  display: flex;
  justify-content: center; /* 수평 중앙 */
  align-items: center; /* 수직 중앙 */
  height: 100vh; /* 화면 전체 높이 */
  text-align: center;
}

.clock {
  font-family: var(--font-dot);
  font-size: var(--font-size-xxlg);
  font-weight: bold;
  padding-bottom: 10px;
}
.clock h3 {
  font-size: var(--font-size-lg);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.login-form > input {
  border-bottom: 1px solid #ccc;
  border-radius: var(--spacing-xs);
  padding-block: var(--spacing-xs);
  padding-inline: var(--spacing-md);
  text-align: center;
}

.login-form > button {
  color: white;
  transition: .3s ease-out;
  background-color: rgb(74, 74, 74);
  padding: 4px 20px;
  border-radius: 4px;
}
.login-form > button:hover {
  color: rgb(0, 255, 106);
}